a {
  color: black;
  text-decoration: none; /* no underline */
}

body {
	background-color: #FCB3C0;
	font-family: 'EB Garamond', serif;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	font-size: 1.8em;
}

h1 span {
	float:right
}

h2 {
	margin-top: 0;
	font-weight: normal;
	font-size: 1.2em;
}

h2 span {
	float:right
}

p {
	font-size: 1.2em;
}

/*
@media (prefers-color-scheme: dark) {
	.tabs img {
		filter: invert(100%);
	}
	body {
  		background-color: #000000
	}
}
@media (prefers-color-scheme: light) {
  html {
  }
}
*/

/* Navigation bar */


.row {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.item-title {
	display: table-cell;
	vertical-align: middle;
}

.item {
	display: table-cell;
	vertical-align: middle;
}
.item img {
	display: block;
	width: 100%;
	height: auto;
}

/* Responsive setup */

@media only screen and (max-width: 640px) {
	#title {
		display: block;
		vertical-align: middle;
	}
	#title img {
		display: block;
		width: 100%;
		height: auto;
	}
	
	#portrait {
		width: 100%;
	}
}

@media only screen and (min-width: 640px) {
	#title {
		display: table-cell;
		vertical-align: middle;
	}
	#title img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.tabs {
	padding: 0 1vw;
}
.tablink {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 4% 4%;
}

.tablink#home {
	padding: 0;
}

.tablink:hover {
/*	background-color: #F7D9DE;*/
/*	border-radius: 20px;*/
}

.tabcontent {
	display: none;
	padding: 10px 30px;
	height: 100%;
	margin: 0px;
}

#Home.tabcontent {
	display: none;
	padding: 0px 0px !important;
	height: 100%;
	margin-bottom: 0px;
	vertical-align:middle;
}

#Home.tabcontent img {
	width: 70vw;
}


#Photos.tabcontent {
	background-color: black;
	color: white;
}

#portrait img {
	float: left;
	height: 80vh;
	width: auto;
	padding: 0% 2%;
}

#Resume .pdf {
	width: 100%;
	height: 70vh;
}


/* Sliding gallery */

.gallery-container {
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
	display: flex;
	justify-content: center;
}

.slides {
	display: grid;
	grid-auto-flow: column;
	gap: 0.5rem;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	
	margin: 0;
	margin: 0;
	padding: 0;
	line-height: 0;
}


.slides > div {
	scroll-snap-align: start;
}

.slides img {
	height: auto;
	width: 720px;
	max-width: 70vw;
	object-fit: contain;
}

#Film .slides img {
	width: 640px;
}

#Photos .gallery-container {
	
}

#Photos .slides img {
	height: 540px;
	width: auto;
}

#Contact #links {
	max-width: 80vw;
}

#Contact img {
	height: 96px;
	width: auto;
	max-width: 80vw;
}

.iframe-container {
	position: relative;
	width: 640px;
	max-width: 70vw;
 	margin: 0 auto;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

.underline {
	display: inline-block;
	opacity: 0;
}

.slides::-webkit-scrollbar {
	display: auto;
}