a {
  color: black;
  text-decoration: none; /* no underline */
}

body {
	background-color: #FCB3C0;
	font-family: 'EB Garamond', serif;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	font-size: 1.8em;
}

h1 span {
	float:right
}

h2 {
	margin-top: 0;
	font-weight: normal;
	font-size: 1.2em;
}

h2 span {
	float:right
}

p {
	font-size: 1.2em;
}

/*
@media (prefers-color-scheme: dark) {
	.tabs img {
		filter: invert(100%);
	}
	body {
  		background-color: #000000
	}
}
@media (prefers-color-scheme: light) {
  html {
  }
}
*/


/* Navigation bar */

.row {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.item-title {
	display: table-cell;
	vertical-align: middle;
}

.item {
	display: table-cell;
	vertical-align: middle;
}
.item img {
	display: block;
	width: 100%;
	height: auto;
}


/* Responsive setup */

.tabs {
	padding: 0 1vw;
}
.tablink {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 4% 4%;
}

.tablink#home {
	padding: 0;
}

.tablink:hover {
/*	background-color: #F7D9DE;*/
/*	border-radius: 20px;*/
}

.tabcontent {
	display: none;
	padding: 10px 30px;
	height: 100%;
	margin: 0px;
}

#Photos.tabcontent {
	background-color: black;
	color: white;
}

#portrait img {
	float: left;
	height: 80vh;
	width: auto;
	padding: 0% 2%;
}

#Resume .pdf {
	width: 100%;
	height: 70vh;
}


/* Sliding gallery */

.gallery-container {
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
	display: flex;
	justify-content: center;
}

.slides {
	display: grid;
	grid-auto-flow: column;
	gap: 0.5rem;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	
	margin: 0;
	margin: 0;
	padding: 0;
	line-height: 0;
}


.slides > div {
	scroll-snap-align: start;
}

.slides img {
	height: auto;
	width: 720px;
	max-width: 70vw;
	object-fit: contain;
}

#Film .slides img {
	width: 640px;
}

#Photos .slides img {
	height: 540px;
	width: auto;
}

#Contact #links {
	max-width: 80vw;
}

#Contact img {
	height: 96px;
	width: auto;
	max-width: 80vw;
}

.iframe-container {
	position: relative;
	width: 640px;
	max-width: 70vw;
 	margin: 0 auto;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

.underline {
	display: inline-block;
	opacity: 0;
}

.slides::-webkit-scrollbar {
	display: auto;
}

#Home h1 {
	text-align: center;
	font-size: 1.4em;
}

.container {
/*	outline: 1px solid red;*/
	z-index: -1;
	
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: space-between;

	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	margin-left: -30px;
	
	overflow-y: hidden;
	overflow-x: hidden;
}

.img-div {
/*	outline: 1px solid blue;*/
	z-index: -1;
	
	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	position: relative;
	min-width: 10px;
}

.img-div img {
	width: auto;
	height: calc(100vh - 100px);
	margin-bottom: 0px;
}

.img-div:nth-child(1) {
	z-index: -5;
}

.img-div:nth-child(2) {
	z-index: -4;
}

.img-div:nth-child(3) {
	z-index: -3;
}

.img-div:nth-child(3) img {
	margin-left: -10vh;
}

.img-div:nth-child(4) {
	z-index: -2;
}

.img-div:nth-child(5) {
	z-index: -1;
}

.img-div:nth-child(5) img {
	margin-right: -5vh;
}

.img-div:nth-child(6) {
	z-index: -2;
}

.img-div:nth-child(7) {
	z-index: -3;
}

@media (max-aspect-ratio: 32/13) {
	.img-div:nth-child(1) {
		display: none;
	}
}

@media (max-aspect-ratio: 32/15) {
	.img-div:nth-child(1),
	.img-div:nth-child(6) {
		display: none;
	}
}

@media (max-aspect-ratio: 64/38) {
	.img-div:nth-child(1),
	.img-div:nth-child(6),
	.img-div:nth-child(7) {
		display: none;
	}
}

@media (max-aspect-ratio: 64/45) {
	.img-div:nth-child(1),
	.img-div:nth-child(2),
	.img-div:nth-child(6),
	.img-div:nth-child(7) {
		display: none;
	}
}

@media (max-aspect-ratio: 64/60) {
	.img-div:nth-child(1),
	.img-div:nth-child(2),
	.img-div:nth-child(3),
	.img-div:nth-child(6),
	.img-div:nth-child(7) {
		display: none;
	}
	.container {		
		justify-content: center;
	}
	.img-div:nth-child(4) {
		justify-content: end;
	}
	
	.img-div:nth-child(4) img {
		margin-left: 5vw;
	}
	
	.img-div:nth-child(5) img {
		margin-right: 5vw;
	}
}

@media (max-aspect-ratio: 64/77) {
	.img-div:nth-child(1),
	.img-div:nth-child(2),
	.img-div:nth-child(3),
	.img-div:nth-child(5),
	.img-div:nth-child(6),
	.img-div:nth-child(7) {
		display: none;
	}
	.img-div:nth-child(4) {
		justify-content: center;
	}
}

@media only screen and (max-aspect-ratio: 1/1) {
	#title {
		display: block;
		vertical-align: middle;
	}
	#title img {
		display: block;
		width: 100%;
		height: auto;
	}
	
	#portrait {
		width: 100%;
	}
	.img-div img {
		height: calc(100vh - 30vw);
	}
	
}

@media only screen and (min-aspect-ratio: 1/1) {
	#title {
		display: table-cell;
		vertical-align: middle;
	}
	#title img {
		display: block;
		width: 100%;
		height: auto;
	}
	
	.img-div img {
		height: calc(100vh - 5vw);
	}
}